<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 

1.  Open the url : [https://api.exchangeratesapi.io/](https://api.exchangeratesapi.io?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) and create a free account. 
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [33]:
# Write your code here
url = "http://data.fixer.io/api/latest?access_key=1338cf5d09dc633c8ec2ddfc73eb0b8e"  #Make sure to change ******* to your API key.
#Live: http://api.currencylayer.com/live?access_key=0435cde5efb80063dc844795ed97ec0f
#Still: http://data.fixer.io/api/latest?access_key=1338cf5d09dc633c8ec2ddfc73eb0b8e
#Note: A different website was used. https://currencylayer.com/quickstart
data  = requests.get(url).text

In [34]:
data[0:100]

'{"success":true,"timestamp":1627424464,"base":"EUR","date":"2021-07-27","rates":{"AED":4.340741,"AFN'

In [35]:
import json
data_dict = json.loads(data)

In [36]:
data_dict

{'success': True,
 'timestamp': 1627424464,
 'base': 'EUR',
 'date': '2021-07-27',
 'rates': {'AED': 4.340741,
  'AFN': 94.71575,
  'ALL': 121.77722,
  'AMD': 569.926121,
  'ANG': 2.121424,
  'AOA': 755.127553,
  'ARS': 114.116269,
  'AUD': 1.605702,
  'AWG': 2.12771,
  'AZN': 2.008496,
  'BAM': 1.96038,
  'BBD': 2.386339,
  'BDT': 100.230854,
  'BGN': 1.956973,
  'BHD': 0.445571,
  'BIF': 2345.739558,
  'BMD': 1.181733,
  'BND': 1.608005,
  'BOB': 8.160841,
  'BRL': 6.109327,
  'BSD': 1.181843,
  'BTC': 3.0878907e-05,
  'BTN': 87.971435,
  'BWP': 13.175981,
  'BYN': 2.974504,
  'BYR': 23161.962385,
  'BZD': 2.382329,
  'CAD': 1.489503,
  'CDF': 2363.465991,
  'CHF': 1.080692,
  'CLF': 0.03289,
  'CLP': 907.523145,
  'CNY': 7.694501,
  'COP': 4646.57327,
  'CRC': 732.830884,
  'CUC': 1.181733,
  'CUP': 31.315919,
  'CVE': 111.348764,
  'CZK': 25.699615,
  'DJF': 210.017605,
  'DKK': 7.437625,
  'DOP': 67.536306,
  'DZD': 159.196597,
  'EGP': 18.542209,
  'ERN': 17.731013,
  'ETB': 52.291373,
  'EUR': 1,
  'FJD': 2.472305,
  'FKP': 0.85411,
  'GBP': 0.851326,
  'GEL': 3.645657,
  'GGP': 0.85411,
  'GHS': 7.054711,
  'GIP': 0.85411,
  'GMD': 60.445491,
  'GNF': 11586.889784,
  'GTQ': 9.156552,
  'GYD': 247.263894,
  'HKD': 9.200239,
  'HNL': 28.385137,
  'HRK': 7.504362,
  'HTG': 113.347076,
  'HUF': 359.370845,
  'IDR': 17141.802024,
  'ILS': 3.845866,
  'IMP': 0.85411,
  'INR': 88.092864,
  'IQD': 1725.329851,
  'IRR': 49756.858559,
  'ISK': 149.004828,
  'JEP': 0.85411,
  'JMD': 182.673846,
  'JOD': 0.837861,
  'JPY': 129.725921,
  'KES': 128.21129,
  'KGS': 99.922832,
  'KHR': 4809.65213,
  'KMF': 491.778399,
  'KPW': 1063.559505,
  'KRW': 1364.313087,
  'KWD': 0.355346,
  'KYD': 0.984685,
  'KZT': 502.877166,
  'LAK': 11309.183017,
  'LBP': 1783.890972,
  'LKR': 235.190782,
  'LRD': 202.905676,
  'LSL': 17.566469,
  'LTL': 3.489349,
  'LVL': 0.714818,
  'LYD': 5.341142,
  'MAD': 10.569122,
  'MDL': 21.240599,
  'MGA': 4508.310369,
  'MKD': 61.622798,
  'MMK': 1945.346744,
  'MNT': 3365.710332,
  'MOP': 9.473628,
  'MRO': 421.878397,
  'MUR': 50.347857,
  'MVR': 18.257875,
  'MWK': 945.386525,
  'MXN': 23.611984,
  'MYR': 5.000506,
  'MZN': 75.193682,
  'NAD': 17.572814,
  'NGN': 486.286789,
  'NIO': 41.716538,
  'NOK': 10.494455,
  'NPR': 140.754497,
  'NZD': 1.698563,
  'OMR': 0.45502,
  'PAB': 1.181643,
  'PEN': 4.639483,
  'PGK': 4.177402,
  'PHP': 59.920355,
  'PKR': 190.672273,
  'PLN': 4.597372,
  'PYG': 8172.869042,
  'QAR': 4.301546,
  'RON': 4.91743,
  'RSD': 117.848524,
  'RUB': 87.129749,
  'RWF': 1181.732775,
  'SAR': 4.433211,
  'SBD': 9.526387,
  'SCR': 17.760839,
  'SDG': 527.640836,
  'SEK': 10.188161,
  'SGD': 1.607877,
  'SHP': 0.85411,
  'SLL': 12118.669748,
  'SOS': 691.313763,
  'SRD': 25.322156,
  'STD': 24343.487213,
  'SVC': 10.338997,
  'SYP': 1485.87031,
  'SZL': 17.571826,
  'THB': 38.926653,
  'TJS': 13.479285,
  'TMT': 4.136065,
  'TND': 3.297623,
  'TOP': 2.670303,
  'TRY': 10.120767,
  'TTD': 8.034047,
  'TWD': 33.134486,
  'TZS': 2740.760901,
  'UAH': 31.76252,
  'UGX': 4203.957289,
  'USD': 1.181733,
  'UYU': 51.7186,
  'UZS': 12609.088888,
  'VEF': 252690181972.75262,
  'VND': 27187.535083,
  'VUV': 130.130878,
  'WST': 3.015376,
  'XAF': 657.491368,
  'XAG': 0.047827,
  'XAU': 0.000657,
  'XCD': 3.193692,
  'XDR': 0.83134,
  'XOF': 655.861983,
  'XPF': 119.886647,
  'YER': 295.491952,
  'ZAR': 17.477118,
  'ZMK': 10637.015833,
  'ZMW': 22.485087,
  'ZWL': 380.518236}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [47]:
# Turn the data into a dataframe
new_df=pd.DataFrame(data_dict)
new_df.head()

     success   timestamp base        date       rates
AED     True  1627424464  EUR  2021-07-27    4.340741
AFN     True  1627424464  EUR  2021-07-27   94.715750
ALL     True  1627424464  EUR  2021-07-27  121.777220
AMD     True  1627424464  EUR  2021-07-27  569.926121
ANG     True  1627424464  EUR  2021-07-27    2.121424

In [48]:
# Drop unnescessary columns
new_df=new_df[["rates","base","date"]]
new_df.head()

          rates base        date
AED    4.340741  EUR  2021-07-27
AFN   94.715750  EUR  2021-07-27
ALL  121.777220  EUR  2021-07-27
AMD  569.926121  EUR  2021-07-27
ANG    2.121424  EUR  2021-07-27

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [20]:
# Save the Dataframe
new_df.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).