<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [2]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/d1/41/e6495bd7d3781cee623ce23ea6ac73282a373088fcd0ddc809a047b18eae/beautifulsoup4-4.9.3-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 18.4MB/s eta 0:00:01
Collecting soupsieve>1.2; python_version >= "3.0" (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/36/69/d82d04022f02733bf9a72bc3b96332d360c0c5307096d76f6bb7489f7e57/soupsieve-2.2.1-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.3 bs4-0.0.1 soupsieve-2.2.1

## Imports

Import any additional libraries you may need here.

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [4]:
#Write your code here
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"
data  = requests.get(url).text 
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

In [7]:
#print(soup.prettify())

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [6]:
data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [8]:
#Replace the dots below
soup=BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [35]:
data = pd.DataFrame(columns=["Name", "Market_Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if (col != []):
        Name = col[1].text
        Market_Cap = col[2].text
        data = data.append({"Name":Name, "Market_Cap (US$ Billion)":Market_Cap}, ignore_index=True)
        
    #Write your code here

#population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])
#for row in tables[table_index].tbody.find_all("tr"):
#    col = row.find_all("td")
#    if (col != []):
#        Name = col[0].text
#        Market_Cap = col[1].text
#        population = col[2].text.strip()
#        area = col[3].text.strip()
#        density = col[4].text.strip()
#        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

In [36]:
data

                                          Name Market_Cap (US$ Billion)
0                             JPMorgan Chase\n                387.492\n
1    Industrial and Commercial Bank of China\n                345.214\n
2                            Bank of America\n                325.331\n
3                                Wells Fargo\n                308.013\n
4                    China Construction Bank\n                257.399\n
..                                         ...                      ...
65                              Ping An Bank\n                 37.993\n
66                        Standard Chartered\n                 37.319\n
67                      United Overseas Bank\n                 35.128\n
68                                 QNB Group\n                 33.560\n
69                     Bank Rakyat Indonesia\n                 33.081\n

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [37]:
#Write your code here
data.head()

                                         Name Market_Cap (US$ Billion)
0                            JPMorgan Chase\n                387.492\n
1   Industrial and Commercial Bank of China\n                345.214\n
2                           Bank of America\n                325.331\n
3                               Wells Fargo\n                308.013\n
4                   China Construction Bank\n                257.399\n

In [41]:
data['Name'] = data['Name'].str.replace('\n','')
data['Market_Cap (US$ Billion)'] = data['Market_Cap (US$ Billion)'].str.replace('\n','').astype(float)

In [43]:
data.head()

                                       Name  Market_Cap (US$ Billion)
0                            JPMorgan Chase                   387.492
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399

In [44]:
data

                                        Name  Market_Cap (US$ Billion)
0                             JPMorgan Chase                   387.492
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
65                              Ping An Bank                    37.993
66                        Standard Chartered                    37.319
67                      United Overseas Bank                    35.128
68                                 QNB Group                    33.560
69                     Bank Rakyat Indonesia                    33.081

[70 rows x 2 columns]

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [20]:
#Write your code here
data.to_json("bank_market_cap.json")

In [21]:
import json

In [23]:
with open ("bank_market_cap.json",'r')  as openfile:
    json_object=json.load(openfile)

In [24]:
json_object

{'Name': {'0': ' JPMorgan Chase\n',
  '1': ' Industrial and Commercial Bank of China\n',
  '2': ' Bank of America\n',
  '3': ' Wells Fargo\n',
  '4': ' China Construction Bank\n',
  '5': ' HSBC Holdings PLC\n',
  '6': ' Agricultural Bank of China\n',
  '7': ' Citigroup Inc.\n',
  '8': ' Bank of China\n',
  '9': ' China Merchants Bank\n',
  '10': ' Royal Bank of Canada\n',
  '11': ' Banco Santander\n',
  '12': ' Commonwealth Bank\n',
  '13': ' Mitsubishi UFJ Financial Group\n',
  '14': ' Toronto-Dominion Bank\n',
  '15': ' HDFC Bank\n',
  '16': ' Goldman Sachs\n',
  '17': ' Sberbank of Russia\n',
  '18': ' Morgan Stanley\n',
  '19': ' U.S. Bancorp\n',
  '20': ' BNP Paribas\n',
  '21': ' Itaú Unibanco\n',
  '22': ' Westpac\n',
  '23': ' Scotiabank\n',
  '24': ' ING Group\n',
  '25': ' UBS\n',
  '26': ' Charles Schwab\n',
  '27': ' PNC Financial Services\n',
  '28': ' Lloyds Banking Group\n',
  '29': ' Sumitomo Mitsui Financial Group\n',
  '30': ' Bank of Communications\n',
  '31': ' Australia and New Zealand Banking Group\n',
  '32': ' Banco Bradesco\n',
  '33': ' National Australia Bank\n',
  '34': ' Intesa Sanpaolo\n',
  '35': ' Banco Bilbao Vizcaya Argentaria\n',
  '36': ' Japan Post Bank\n',
  '37': ' The Bank of New York Mellon\n',
  '38': ' Shanghai Pudong Development Bank\n',
  '39': ' Industrial Bank (China)\n',
  '40': ' Bank of China (Hong Kong)\n',
  '41': ' Bank of Montreal\n',
  '42': ' Crédit Agricole\n',
  '43': ' DBS Bank\n',
  '44': ' Nordea\n',
  '45': ' Capital One\n',
  '46': ' NatWest Group\n',
  '47': ' Mizuho Financial Group\n',
  '48': ' Credit Suisse\n',
  '49': ' Postal Savings Bank of China\n',
  '50': ' China Minsheng Bank\n',
  '51': ' UniCredit\n',
  '52': ' China CITIC Bank\n',
  '53': ' Hang Seng Bank\n',
  '54': ' Société Générale\n',
  '55': ' Barclays\n',
  '56': ' Canadian Imperial Bank of Commerce\n',
  '57': ' Bank Central Asia\n',
  '58': ' Truist Financial\n',
  '59': ' Oversea-Chinese Banking Corp\n',
  '60': ' State Bank of India\n',
  '61': ' State Street\n',
  '62': ' Deutsche Bank\n',
  '63': ' KBC Bank\n',
  '64': ' Danske Bank\n',
  '65': ' Ping An Bank\n',
  '66': ' Standard Chartered\n',
  '67': ' United Overseas Bank\n',
  '68': ' QNB Group\n',
  '69': ' Bank Rakyat Indonesia\n'},
 'Market_Cap (US$ Billion)': {'0': '387.492\n',
  '1': '345.214\n',
  '2': '325.331\n',
  '3': '308.013\n',
  '4': '257.399\n',
  '5': '219.270\n',
  '6': '203.244\n',
  '7': '203.165\n',
  '8': '181.469\n',
  '9': '122.616\n',
  '10': '122.564\n',
  '11': '115.696\n',
  '12': '112.227\n',
  '13': '111.660\n',
  '14': '108.449\n',
  '15': '134.4\n',
  '16': '100.705\n',
  '17': '99.840\n',
  '18': '99.651\n',
  '19': '94.558\n',
  '20': '93.329\n',
  '21': '86.203\n',
  '22': '84.560\n',
  '23': '78.947\n',
  '24': '78.920\n',
  '25': '75.482\n',
  '26': '74.255\n',
  '27': '72.246\n',
  '28': '71.253\n',
  '29': '67.328\n',
  '30': '67.078\n',
  '31': '66.448\n',
  '32': '64.816\n',
  '33': '63.794\n',
  '34': '62.032\n',
  '35': '60.678\n',
  '36': '60.525\n',
  '37': '59.823\n',
  '38': '58.796\n',
  '39': '57.388\n',
  '40': '55.449\n',
  '41': '53.181\n',
  '42': '52.141\n',
  '43': '51.475\n',
  '44': '51.185\n',
  '45': '51.107\n',
  '46': '50.490\n',
  '47': '50.018\n',
  '48': '48.462\n',
  '49': '47.948\n',
  '50': '47.921\n',
  '51': '47.777\n',
  '52': '47.451\n',
  '53': '46.171\n',
  '54': '46.051\n',
  '55': '45.850\n',
  '56': '43.544\n',
  '57': '43.344\n',
  '58': '41.923\n',
  '59': '41.362\n',
  '60': '40.562\n',
  '61': '39.769\n',
  '62': '38.649\n',
  '63': '38.394\n',
  '64': '38.223\n',
  '65': '37.993\n',
  '66': '37.319\n',
  '67': '35.128\n',
  '68': '33.560\n',
  '69': '33.081\n'}}

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.